<!DOCTYPE html>
    <html>
        {% include head.html %}
        <body>
            <nav>
                <ul>
                    <!-- Navigation items with TitleCase. -->
                    <li><a href="/">Home</a></li>
                    {% assign sections = 'about blog weekly' | split: ' ' %}
                    {% for section in sections %}
                        {% assign first = section | truncate: 1, '' | upcase %}
                        {% assign rest = section | slice: 1, 100 %}
                        <li>
                            <a href={{ section | prepend: '/' }}>{{ first | append: rest }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="container">
                {{ content }}
            </div><!-- /.container -->
            {% include footer.html %}
        </body>
    </html>