<!DOCTYPE html>
    <html>
        {% include head.html %}
        <body>
            <nav>
                <ul>
                    <!-- Navigation items with TitleCase. -->
                    <li><a href="/">Home</a></li>
                    {% assign sections = site.pages | where: "category", "main" | map: "title" %}
                    {% for section in sections %}
                        {% assign link = section | downcase | prepend: '/' %}
                        {% assign first = section | truncate: 1, '' | upcase %}
                        {% assign rest = section | slice: 1, 100 %}
                        {% assign title = first | append: rest %}
                        <li>
                            <a href={{ link }}>{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="container">
                {{ content 
                    | replace: '<li>[ ]', 
                        '<li class="box task-list-item">
                        <input type="checkbox" class="task-list-item-checkbox" disabled>' 
                    | replace: '<li>[x]', 
                        '<li class="box_done task-list-item">
                        <input type="checkbox" class="task-list-item-checkbox" value="on" disabled checked>'  
                }}
            </div><!-- /.container -->
            {% include footer.html %}
        </body>
    </html>